:root {
    --text-bleack: #000000;
    --text-white: #fff;
    --text-menu: #9197B3;
    --text-grey: #292D32;
    --text-grey-light: #B5B7C0;
    --text-logo-version: #838383;
    --text-manager-info: #757575;

    --text-activ: #16C098;
    --text-line: #FAFBFF;

    --activ-button-text: #008767;
    --activ-button-bg: rgba(22, 192, 152, 0.38);
    --activ-button-stroke: #00B087;

    --inactiv-button-text: #DF0404;
    --inactiv-button-bg: #FFC5C5;
    --inactiv-button-stroke: #DF0404;

    --bg-light: #FAFBFF;
    --bg-white: #fff;

    --search-text: #B5B7C0;
    --search-bg: #F9FBFF;
    --search-icon: #7E7E7E;

    --pagination-text: #404B52;
    --pagination-bg: #F5F5F5;
    --pagination-stroke: #EEEEEE;

    --table-line: #eeeeee;

    --hover-text: #fff;
    --hover-bg: #5932EA;

}